/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@use './variables' as *;
html,body,div,span,applet,object,iframe,
h1,h2,h3,h4,h5,h6,p,blockquote,pre,
a,abbr,acronym,address,big,cite,code,
del,dfn,em,img,ins,kbd,q,s,samp,small,
strike,strong,sub,sup,tt,var,b,u,i,center,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,
summary,time,mark,audio,video 
{    margin: 0;
    padding: 0;
    border: 0;
    outline: 0; 
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: transparent;
    box-sizing: border-box;
    
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    overflow-x: hidden;
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,blockquote:after,
q:before,q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

// *:focus {
// 	outline: none;
// }

// outline none
textarea:focus,
input:focus {
    outline: none;
}

//MY CUSTOM RESET
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* min body height */
/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
    hanging-punctuation: first last;
    color-scheme: dark light;
    
}
@media (prefers-reduced-motion: no-preference) {
    html,
    :has(:target) {
        scroll-behavior: smooth;
    }
}

/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p {
    max-width: 75ch;
    text-wrap: pretty;
}

/* responsive images/videos */
img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}
image{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;

}
body {

    // Mobile-specific styles
    @media (max-width: var(--mobile-max)) {}

    // Tablet-specific styles
    @media (min-width: var(--tablet)) and (max-width: var(--desktop)) {}

    // Desktop-specific styles
    @media (min-width: var(--desktop)) and (max-width: var(--large-desktop)) {}

    // Large desktop-specific styles
    @media (min-width: var(--large-desktop)) {}
}

html,body{
    min-width:400px;

}


