// _typohraphy.scss
$font-path :"/assets/fonts/";

// Define a mixin for @font-face rules
@mixin font-face($family, $file, $weight: normal) {
  @font-face {
    font-family: '#{$family}';
    src: url('#{$font-path}#{$file}.ttf') format('truetype');
    font-weight: $weight;
    font-style: normal;
  }
}


// Define @font-face rules using the mixin
@include font-face('Neucha', 'Neucha/Neucha-Regular');
@include font-face('Amatic SC', 'Amatic_SC/AmaticSC-Regular');
@include font-face('Amatic SC', 'Amatic_SC/AmaticSC-Bold', bold);
@include font-face('Caveat', 'Caveat/static/Caveat-Regular');
@include font-face('Caveat', 'Caveat/static/Caveat-Bold', bold);
@include font-face('Caveat', 'Caveat/static/Caveat-Medium', 500);
@include font-face('Caveat', 'Caveat/static/Caveat-SemiBold', 600);
@include font-face('Caveat', 'Caveat/Caveat-VariableFont_wght', 1999);
@include font-face('GloriaHallelujah', 'Gloria_Hallelujah/GloriaHallelujah-Regular');
@include font-face('Mansalva', 'Mansalva/Mansalva-Regular');
@include font-face('Mynerve', 'Mynerve/Mynerve-Regular');
@include font-face('Pacifico', 'Pacifico/Pacifico-Regular');
@include font-face('Shadows into Light', 'Shadows_into_Light/ShadowsintoLight-Regular');
@include font-face('Short Stack', 'Short_Stack/ShortStack-Regular', 1999);
@include font-face('Roboto', 'Roboto/Roboto-Regular');


// Define a mixin for font styles
@mixin font-style($family, $weight: normal) {
  font-family: '#{$family}', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; // System fonts as fallback
  font-weight: $weight;
}
// tested if fonts working
body {
  font-family:"Amatic SC";
  // font-family: 'Short Stack';
}
h1{
  font-family: 'Caveat';
  font-weight: bold;
}
h2{
  font-family: 'Mynerve';
  font-weight: bold;
}
// li{
//   font-family: 'Short Stack';
//   //  
// }
p{
  font-family: 'Short Stack';
  font-weight: bold;
}

.proto{
  font-family: "Mynerve";
  font-weight: bold;
}
.intro_prologue {
  h1{
  font-weight:bold;
  }
  h2{
    text-transform: capitalize;
    font-family: "Short Stack";
    font-weight: bold;
    font-size: var(--font-size-fluid-2);
  }
  p{
  font-family: "GloriaHallelujah";
  font-weight: 100;
  }
}


strong {
  font-weight: bold;
}

.nav_links{
  font-size: 1.75em;
  // font-family: 'Mansalva';
  font-weight: bold;
}

h1{
  font-size: var(--font-size-fluid-2);
}
p{
  font-size: var(--font-size-fluid-1);
}
h2{
  font-size: var(--font-size-fluid-1);
}











.nav_links li a {
  color: var(--clr-link);
}

.logo-label{
   a{
	color: var(--clr-link);
	text-decoration: none;
  }
}