// _typohraphy.scss
$font-path :"/assets/fonts/";
@font-face {
  font-family: 'Amatic SC';
  src: url('#{$font-path}Amatic_SC/AmaticSC-Regular.ttf') format('truetype'),
       url('#{$font-path}Amatic_SC/AmaticSC-Bold.ttf') format('truetype');
  font-weight: normal; /* Corresponds to the regular font file */
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('#{$font-path}Caveat/static/Caveat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('#{$font-path}Caveat/static/Caveat-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('#{$font-path}Caveat/static/Caveat-Medium.ttf') format('truetype');
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('#{$font-path}Caveat/static/Caveat-SemiBold.ttf') format('truetype');
  font-weight: 600; /* Semi-bold weight */
  font-style: normal;
}

@font-face {
  font-family: 'Caveat';
  src: url('#{$font-path}Caveat/Caveat-VariableFont_wght.ttf') format('truetype');
  font-weight: 1 999; /* Variable font weight range */
  font-style: normal;
}


@font-face {
  font-family: 'GloriaHallelujah';
  src: url('#{$font-path}Gloria_Hallelujah/GloriaHallelujah-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Mansalva';
  src: url('#{$font-path}Mansalva/Mansalva-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mynerve';
  src: url('#{$font-path}Mynerve/Mynerve-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pacifico';
  src: url('#{$font-path}Pacifico/Pacifico-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Shadows into Light';
  src: url('#{$font-path}Shadows_into_Light/ShadowsintoLight-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Short Stack';
  src: url('#{$font-path}Short_Stack/ShortStack-Regular.ttf') format('truetype');
  font-weight: 1 999;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('#{$font-path}Roboto/Roboto-Regular.ttf') format('truetype');
}

// tested if fonts working
body {
  font-family:"Amatic SC";
  // font-family: 'Short Stack';
}
h1{
  font-family: 'Caveat';
  font-weight: bold;
}
h2{
  font-family: 'Caveat';
}
// li{
//   font-family: 'Short Stack';
//   //  
// }
p{
  font-family: 'Short Stack';
  font-weight: bold;
}

.proto{
  font-family: "Mynerve";
  font-weight: bold;
}
.intro_prologue {
  h1{
  font-weight:bold;
  }
  h2{
    text-transform: capitalize;
    font-family: "Short Stack";
    font-weight: bold;
    font-size: var(--font-size-fluid-2);
  }
  p{
  font-family: "GloriaHallelujah";
  font-weight: 100;
  }
}


strong {
  font-weight: bold;
}

.nav_links{
  font-size: 1.75em;
  // font-family: 'Mansalva';
  font-weight: bold;
}

h1{
  font-size: var(--font-size-fluid-2);
}
p{
  font-size: var(--font-size-fluid-1);
}
h2{
  font-size: var(--font-size-fluid-1);
}