/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
:where(html) {
  --clr-unvisited: hsla(240, 100%, 50%, 1); /* Blue */
  --clr-visited: hsla(270, 100%, 50%, 1); /* Purple */
  --clr-active: hsla(0, 100%, 50%, 1); /* Red */
  --clr-font: hsla(0, 0%, 14%, 1);
  --clr-background: hsla(30, 100%, 100%,1);
  --clr-mainBG:hsla(49, 16%, 87%,1);
  --clr-link: hsl(0, 0%, 11%);
  --clr-border: hsla(0, 0%, 50%, 1);
  --clr-shade: hsla(0, 0%, 73%, 1);
  --clr-disabled: hsla(0, 0%, 50%, 1);
  --clr-border:hsla(40, 2%, 25%,1);
  --pink: #ecb2ba;
  --pink-dark: #c6939a;
  --tape-gray: #dbd8be;
  --tape-edge-gray: #b7b49d;
  --transparent: rgba(255, 255, 255, 0);
  --mobile-max: 767px;
  --tablet: 768px;
  --desktop: 992px;
  --large-desktop: 1200px;
  --font-size-00: .5rem;
  --font-size-0: .75rem;
  --font-size-1: 1rem;
  --font-size-2: 1.1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.5rem;
  --font-size-5: 2rem;
  --font-size-6: 2.5rem;
  --font-size-7: 3rem;
  --font-size-8: 3.5rem;
  --font-size-fluid-0: clamp(.75rem, 1.5vw, 1rem);
  --font-size-fluid-1: clamp(1rem, 2vw, 1.5rem);
  --font-size-fluid-2: clamp(1.5rem, 3vw, 2.5rem);
  --font-size-fluid-3: clamp(2rem, 4vw, 3.5rem);
  --size-000: -.5rem;
  --size-00: -.25rem;
  --size-1: .25rem;
  --size-2: .5rem;
  --size-3: 1rem;
  --size-4: 1.25rem;
  --size-5: 1.5rem;
  --size-6: 1.75rem;
  --size-7: 2rem;
  --size-8: 3rem;
  --size-9: 4rem;
  --size-10: 5rem;
  --size-11: 7.5rem;
  --size-12: 10rem;
  --size-13: 15rem;
  --size-14: 20rem;
  --size-15: 30rem;
  --size-fluid-1: clamp(.5rem, 1vw, 1rem);
  --size-fluid-2: clamp(1rem, 2vw, 1.5rem);
  --size-fluid-3: clamp(1.5rem, 3vw, 2rem);
  --size-fluid-4: clamp(2rem, 4vw, 3rem);
  --size-fluid-5: clamp(4rem, 5vw, 5rem);
  --size-fluid-6: clamp(5rem, 7vw, 7.5rem);
  --size-fluid-7: clamp(7.5rem, 10vw, 10rem);
  --size-fluid-8: clamp(10rem, 20vw, 15rem);
  --size-fluid-9: clamp(15rem, 30vw, 20rem);
  --size-fluid-10: clamp(20rem, 40vw, 30rem);
  --size-header-1: 20ch;
  --size-header-2: 25ch;
  --size-header-3: 35ch;
  --layout_elements_offset:0rem;
  --layout-margin: .5rem;
  --layout-padding:1rem;
  --border-width: 10px;
  --border-radius: .5rem;
  --box-shadow: 0px 0px 10px 4px var(--clr-disabled),
  			   -4px -6px 15px 4px var(--clr-disabled),
  			   5px 6px 15px 3px var(--clr-shade);
  --shadow-color: 220 3% 15%;
  --shadow-strength: 15%;
  --inner-shadow-highlight: inset 0 -.5px 0 0 #fff, inset 0 .5px 0 0 #0001;
  --shadow-1: 0 1px 2px -1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
  --shadow-2:
    0 3px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 7px 14px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%));
  --shadow-3:
    0 -1px 3px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 2px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 5px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 4px 12px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 12px 15px -5px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
  --shadow-4:
    0 -2px 5px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 1px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 2px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 9px 9px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 16px 16px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%));
  --shadow-5:
    0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
    0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
    0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
    0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%));
  --shadow-6:
    0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
    0 3px 2px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
    0 7px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 6%)),
    0 12px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 8%)),
    0 22px 18px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 10%)),
    0 41px 33px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 12%)),
    0 100px 80px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 14%));
  --inner-shadow-0: inset 0 0 0 1px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%));
  --inner-shadow-1: inset 0 1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%)), var(--inner-shadow-highlight);
  --inner-shadow-2: inset 0 1px 4px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%)), var(--inner-shadow-highlight);
  --inner-shadow-3: inset 0 2px 8px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%)), var(--inner-shadow-highlight);
  --inner-shadow-4: inset 0 2px 14px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 9%)), var(--inner-shadow-highlight);
  --clr-shadow-color: 0 0% 1%;
  --shadow-opacity-base:.35;
  --shadow-layer1: drop-shadow(0px 0px 10px hsl(var(--clr-shadow-color) / var(--shadow-opacity-base)));
  --shadow-layer2: drop-shadow(5px 5px 1px hsl(var(--clr-shadow-color) / var(--shadow-opacity-base)));
  --shadow-layer3: drop-shadow(15px 15px 20px hsl(var(--clr-shadow-color) / var(--shadow-opacity-base)));
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background-color: transparent;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  overflow-x: hidden;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea:focus,
input:focus {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* min body height */
/* dark mode user-agent-styles */
/* improves punctuation in supported browsers */
html {
  hanging-punctuation: first last;
  color-scheme: dark light;
}

@media (prefers-reduced-motion: no-preference) {
  html,
  :has(:target) {
    scroll-behavior: smooth;
  }
}
/* Improved heading in supported browsers */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* improve readability with max-width on paragraphs and lists */
/* prevent orphans in supported browsers */
p {
  max-width: 75ch;
  text-wrap: pretty;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

image {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
  min-width: 400px;
}

@font-face {
  font-family: "Neucha";
  src: url("/assets/fonts/Neucha/Neucha-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amatic SC";
  src: url("/assets/fonts/Amatic_SC/AmaticSC-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Amatic SC";
  src: url("/assets/fonts/Amatic_SC/AmaticSC-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url("/assets/fonts/Caveat/static/Caveat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url("/assets/fonts/Caveat/static/Caveat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url("/assets/fonts/Caveat/static/Caveat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url("/assets/fonts/Caveat/static/Caveat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Caveat";
  src: url("/assets/fonts/Caveat/Caveat-VariableFont_wght.ttf") format("truetype");
  font-weight: 1999;
  font-style: normal;
}
@font-face {
  font-family: "GloriaHallelujah";
  src: url("/assets/fonts/Gloria_Hallelujah/GloriaHallelujah-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mansalva";
  src: url("/assets/fonts/Mansalva/Mansalva-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Mynerve";
  src: url("/assets/fonts/Mynerve/Mynerve-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Pacifico";
  src: url("/assets/fonts/Pacifico/Pacifico-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Shadows into Light";
  src: url("/assets/fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Short Stack";
  src: url("/assets/fonts/Short_Stack/ShortStack-Regular.ttf") format("truetype");
  font-weight: 1999;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Atlandsketches";
  src: url("/assets/fonts/atlandsketches-bb/atlandsketchesbb_reg.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Freeride";
  src: url("/assets/fonts/Freeride/Freeride.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TheUnseen";
  src: url("/assets/fonts/TheUnseen/TheUnseen.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Neucha", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h1 {
  font-family: "Caveat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: var(--font-size-fluid-2);
}

h2 {
  font-family: "Mynerve", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  font-size: var(--font-size-fluid-2);
}

h3 {
  font-family: "Neucha", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: capitalize;
}

.logo {
  font-size: clamp(0.5rem, 2rem, 2vw);
}

.nav_button {
  font-family: "Shadows into Light", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: clamp(1rem, 2rem, 3vw);
  color: var(--clr-link);
  text-decoration: none;
}

p {
  font-family: "GloriaHallelujah", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: var(--font-size-fluid-1);
  filter: var(--shadow-layer1);
}

.proto {
  font-family: "Mynerve", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.intro_prologue h1 {
  font-weight: bold;
}
.intro_prologue h2 {
  font-family: "Short Stack", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: var(--font-size-fluid-2);
}
.intro_prologue p {
  font-family: "GloriaHallelujah", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: var(--font-size-fluid-1);
}

strong {
  font-weight: bold;
}

.nav_links {
  font-size: 1.75em;
  font-family: "Mansalva", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.logo-label a {
  color: var(--clr-link);
  text-decoration: none;
}

/*
Idea Doodle CSS
kaso bawal daw pahiram nlng ng svg
*/
/* Doodle CSS
 * https://github.com/chr15m/DoodleCSS
 */
.doodle * {
  box-sizing: border-box;
}

.doodle input,
.doodle textarea {
  max-width: 100%;
}

.doodle textarea {
  border-style: solid;
  -o-border-image: var(url("./assets/images/border.svg") 10 10 10 10 stretch stretch);
     border-image: var(url("./assets/images/border.svg") 10 10 10 10 stretch stretch);
}

.doodle button,
.doodle input,
.doodle select {
  border-style: solid;
  -o-border-image: var(url("./assets/images/button.svg") 10 10 10 10 stretch stretch);
     border-image: var(url("./assets/images/button.svg") 10 10 10 10 stretch stretch);
}

.doodle-border {
  border-style: solid;
  border-width: var(border-width);
  -o-border-image: var(url("./assets/images/button.svg") 10 10 10 10 stretch stretch);
     border-image: var(url("./assets/images/button.svg") 10 10 10 10 stretch stretch);
  filter: brightness(1) contrast(1.2);
  -webkit-filter: brightness(1) contrast(1.2);
}

#subject,
#body,
#commentbox {
  background-color: unset;
}

nav {
  max-width: 100vw;
  max-width: 100dvw;
}

.navbar {
  overflow: hidden;
  background-clip: content-box;
  -webkit-background-clip: text;
  filter: var(--shadow-layer1) var(--shadow-layer2) var(--shadow-layer3);
  background-color: var(--clr-mainBG);
  background: url("./assets/images/seamless_paper_texture.png");
  border-style: solid;
  border-color: var(--clr-border);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  -o-border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
     border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
  background-blend-mode: multiply;
  background-repeat: repeat;
  display: flex;
}

.navbar > :last-child {
  margin-inline-start: auto;
}

.logo-label {
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("./assets/images/kelan-Paper-texture-filter.svg");
  border-style: solid;
  border-color: var(--clr-border);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  -o-border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
     border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
}

.nav-label img {
  height: clamp(2rem, 4vw, 4rem);
  margin-inline: clamp(0.5rem, 1vw, 2rem);
}
.nav-label h2 {
  margin-inline: clamp(0.5rem, 1vw, 2rem);
}

.nav_links {
  display: flex;
}

.nav_button {
  position: relative;
  display: inline-block;
  width: auto;
  min-width: 50px;
  padding: 0.75rem;
  margin: 0.25rem;
  color: var(--clr-link);
  align-self: center;
  transition: all 235ms ease 0s;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  background: none;
  border: 0px none transparent;
  outline: none;
}
.nav_button:hover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}
.nav_button:active {
  top: 0.2rem;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.nav_button::after {
  content: "";
  z-index: -122;
  background-color: hsl(30, 100%, 96%);
  background-color: var(--clr-background);
  background-image: url("./assets/images/kelan-Paper-texture-filter.svg");
  border-color: hsl(40, 2%, 25%);
  border-color: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 3px;
  pointer-events: none;
  filter: drop-shadow(3px 3px 2px hsla(0, 0%, 0%, 0.6));
}

.nav_button:nth-child(1) {
  transition-delay: 200ms;
}

.nav_button:nth-child(2) {
  transition-delay: 150ms;
}

.nav_button:nth-child(3) {
  transition-delay: 100ms;
}

.nav_button:nth-child(4) {
  transition-delay: 50ms;
}

.nav_button:nth-child(1)::after {
  border-radius: 1% 5% 11% 56%/25% 2% 11% 1%;
  transform: rotate(0.5deg);
}

.nav_button:nth-child(2)::after {
  border-radius: 75% 50% 4% 70%/6% 4% 7% 5%;
  transform: rotate(0.25deg);
}

.nav_button:nth-child(3)::after {
  border-radius: 132% 117% 5% 130%/7% 8% 115% 6%;
  transform: rotate(-0.5deg);
}

.nav_button:nth-child(4)::after {
  border-radius: 68% 40% 6% 75%/7% 6% 60% 6%;
  transform: rotate(-0.25deg);
}

.nav-toggle {
  display: none;
}

#nav-toggle:checked + .navbar .nav_links,
#nav-toggle:hover + .navbar .nav_links,
#nav-toggle:focus + .navbar .nav_links {
  display: block;
}

@media screen and (max-width: 768px) {
  .logo-label {
    justify-content: left;
  }
  .nav-label {
    cursor: pointer;
  }
  .nav_links {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition-property: height, opacity;
    transition-duration: 500ms;
    transition-behavior: allow-discrete;
  }
  .nav_button {
    position: relative;
    translate: -100% 0;
    opacity: 0;
    width: 100%;
    transition-property: opacity, translate;
    transition-duration: 500ms;
    transition-behavior: allow-discrete;
    transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8);
  }
  #nav-toggle:checked ~ .nav_links {
    height: -moz-max-content;
    height: max-content;
    opacity: 1;
  }
  #nav-toggle:checked ~ .nav_links .nav_button {
    translate: 0 0;
    opacity: 1;
  }
  @starting-style {
    #nav-toggle:checked ~ .nav_links .nav_button {
      opacity: 0;
      translate: 200% 0;
    }
  }
  .navbar {
    display: flex;
    flex-direction: column;
  }
}
::-webkit-scrollbar {
  background-color: antiquewhite;
  background-image: url("./assets/images/seamless_paper_texture.png");
  width: 2.5rem;
  overflow: auto;
  padding: 1em;
  margin: 1em;
}

::-webkit-scrollbar-button {
  cursor: pointer;
}
::-webkit-scrollbar-button:single-button:vertical:decrement {
  background-image: url("./assets/images/arrowup.svg");
}
::-webkit-scrollbar-button:single-button:vertical:increment {
  background-image: url("./assets/images/arrowdown.svg");
}

::-webkit-scrollbar-track {
  /*3*/
  border-radius: 50px;
  border: 2px groove grey;
  -webkit-box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

::-webkit-scrollbar-track-piece {
  /* 4 */
}

::-webkit-scrollbar-thumb {
  /* 5 */
  cursor: pointer;
  border-radius: 50px;
  background-clip: content-box;
  background-image: url("./assets/images/pencilclipart.svg");
  background-size: 100% auto;
  z-index: -1;
}

::-webkit-scrollbar-corner {
  background: transparent;
  width: 0;
  height: 0;
  border: none;
  display: none;
  visibility: hidden;
  background-color: unset;
}

::-webkit-resizer {
  /* 7 */
  display: none;
}

.skills-container {
  margin-inline: 3rem;
  display: grid;
  grid-gap: 11rem;
  grid-template-columns: repeat(3, 1fr);
}

.skill-category {
  --c: 50px;
  --p: 30px;
  --d: 10px;
  background: red;
  display: inline-block;
  padding: var(--p);
  background: radial-gradient(farthest-side at 0 0, #000, rgba(0, 0, 0, 0)) 0 0/var(--c) var(--c), radial-gradient(farthest-side at 100% 100%, #000, rgba(0, 0, 0, 0)) 100% 100%/var(--c) var(--c), linear-gradient(#fff 0 0) 50% 50%/calc(100% - var(--p)) calc(100% - var(--p)), linear-gradient(rgba(0, 0, 0, 0), #000 25% 75%, rgba(0, 0, 0, 0)) 50% 50%/calc(100% - var(--p)) calc(100% - var(--d)), linear-gradient(90deg, rgba(0, 0, 0, 0), #000 25% 75%, rgba(0, 0, 0, 0)) 50% 50%/calc(100% - var(--d)) calc(100% - var(--p)), radial-gradient(farthest-side at 0 100%, rgba(0, 0, 0, 0.0941176471), rgba(0, 0, 0, 0)) calc(100% - var(--d) * 0.5) calc(var(--d) * 0.5)/var(--d) var(--d), radial-gradient(farthest-side at 100% 0, rgba(0, 0, 0, 0.0941176471), rgba(0, 0, 0, 0)) calc(var(--d) * 0.5) calc(100% - var(--d) * 0.5)/var(--d) var(--d);
  background-repeat: no-repeat;
  -webkit-clip-path: polygon(0 var(--c), var(--c) 0, 100% 0, 100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 0 100%);
          clip-path: polygon(0 var(--c), var(--c) 0, 100% 0, 100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 0 100%);
}

.stickynote_default {
  --paper-color: hsla(30, 100%, 96%, 0.897);
  --paper-dark: hsla(0, 0%, 50%, 0.205);
  --shadow-size: 3px;
  --transparent: hsla(222, 74%, 91%, 0.116);
}

.paper {
  border-radius: 10px;
  padding: 3rem;
  position: relative;
  background: var(--background);
  background: url("./assets/images/seamless_paper_texture.png");
  background-color: var(--clr-mainBG);
  min-height: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background: var(--background);
  filter: brightness(1.15);
  border-style: solid;
  border-width: var(--border-width);
  -o-border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
     border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
  --shadow:var( --shadow-4,
  0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
  0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
  0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
  0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
  0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
  0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)));
  box-shadow: var(--shadow);
}

.paper::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--transparent), 50%, var(--paper-dark), 51%, var(--transparent)), linear-gradient(to right, var(--transparent), 50%, var(--paper-dark), 51%, var(--transparent));
}

.tape-section {
  position: absolute;
  width: 100%;
}

.top-tape {
  position: absolute;
  height: 3rem;
  top: -2rem;
  width: calc(100% + 3rem);
  background-color: var(--tape-gray);
  border-right: 2px dotted var(--tape-edge-gray);
  border-left: 2px dotted var(--tape-edge-gray);
  opacity: 0.7;
}

.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.7;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}

.abouthim-section {
  display: flex;
  border-style: groove;
  border-width: var(--border-width);
  -o-border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
     border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
  border-radius: var(--border-radius);
  background: url("./assets/images/kelan-Paper-texture-filter.svg");
  background-blend-mode: saturation;
  grid-template-columns: auto 250px;
  box-shadow: var(--shadow-4);
}

.custom_Emoticon {
  width: 1.25em;
  height: 1.25em;
  margin: 0;
  display: inline;
  cursor: pointer;
  z-index: 1;
  position: relative;
  transition-duration: 200ms;
  transition-property: all;
}
.custom_Emoticon:hover {
  transition-delay: 500ms;
  transform: scale(5);
  z-index: 10;
  filter: drop-shadow(-5px -5px 1px #222);
}

.abouthim_message {
  padding: 1rem;
}
.abouthim_message h1 {
  font-weight: normal;
}
.abouthim_message h1:last-of-type {
  margin-block-end: 2rem;
}
.abouthim_message h2 {
  cursor: pointer;
  padding-block-end: 1.5rem;
  font-family: "Mynerve";
  font-weight: bold;
  font-size: var(--font-size-fluid-2);
}
.abouthim_message ul {
  position: relative;
}
.abouthim_message li {
  margin: 1.25rem;
}
.abouthim_message li::before {
  content: "-";
  font-size: var(--font-size-fluid-2);
  font-weight: bold;
  position: absolute;
  left: 0;
}
.abouthim_message span {
  font-family: "Mynerve";
  font-weight: bold;
  font-size: var(--font-size-fluid-2);
}
.abouthim_message h3 {
  padding: 1rem;
  font-family: "GloriaHallelujah";
  font-weight: bold;
  font-size: var(--font-size-fluid-1);
}

.abouthim_image {
  height: 250px;
  width: 250px;
  transform: scale(1);
  filter: drop-shadow(5px 5px 5px #222);
  -webkit-filter: drop-shadow(5px 5px 5px #222);
}

.abouthim_image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.abouthim_image:hover {
  filter: drop-shadow(7px 7px 7px #222);
  -webkit-filter: drop-shadow(7px 7px 7px #222);
  transform: scale(0.95);
  transition: transform 200ms;
}

.abouthim_image:active {
  filter: drop-shadow(3px 3px 2px #222);
  transition: transform 10ms;
  transform: scale(0.9);
}

.certificates {
  padding: var(--layout-padding);
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: calc(100% - var(--layout-padding) * 2);
}
.hero .hero_image {
  flex-basis: auto;
  min-height: 200px;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  margin: calc(1% + 2rem);
}
.hero .hero_message {
  max-width: clamp(300px, 75vw, 100% - 500px);
  background-color: #F4F5CD;
  background-image: url("./assets/images/kelan-Paper-texture-filter.svg");
  background-blend-mode: saturation;
}
.hero .hero_message h2 {
  margin-block-end: clamp(1rem, 1%, 3rem);
  color: var(--clr-font);
  font-size: clamp(2rem, 4vw + 1rem, 3rem);
}
.hero .hero_message h3 {
  margin-block-end: 2rem;
  color: var(--clr-font);
  font-size: clamp(1.5rem, 3vw + 1rem, 2.5rem);
}
.hero .hero_message p {
  line-height: clamp(2rem, 2vh + 4rem, 4rem);
  font-size: var(--font-size-fluid-1);
}
.hero .hero_message h4 {
  font-weight: bold;
  color: var(--clr-font);
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
}

.bubble {
  position: relative;
  text-align: center;
  color: #000;
  padding: 7px;
  /* Adjust as needed */
  /* Main box shadow */
  box-shadow: 0 -7px #F4F5CD, 0 -14px #000, 7px 0 #F4F5CD, 7px -7px #000, 14px 0 #000, 0 7px #F4F5CD, 0 14px #000, -7px 0 #F4F5CD, -7px 7px #000, -14px 0 #000, -7px -7px #000, 7px 7px #000, 7px 21px rgba(0, 0, 0, 0.1), 21px 7px rgba(0, 0, 0, 0.1), 14px 14px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 660px) {
  .hero {
    position: relative;
  }
  .hero .hero_image {
    position: absolute;
    top: -95px;
    z-index: -1000;
    width: 180px;
  }
  .hero_message {
    margin-top: 95px;
    overflow: hidden;
  }
}
html, body {
  background-color: var(--clr-shade);
  background: url("./assets/images/seamless_paper_texture.png");
  color: var(--clr-font);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.fakehtml {
  position: relative;
  margin: var(--layout-margin);
  padding: var(--layout-padding);
}
.fakehtml::before, .fakehtml::after {
  position: absolute;
  font-family: "GloriaHallelujah";
  color: var(--clr-disabled);
  pointer-events: none;
  left: var(--layout_elements_offset);
}
.fakehtml::before {
  content: "<html>";
  top: var(--layout_elements_offset);
}
.fakehtml::after {
  content: "</html>";
  bottom: var(--layout_elements_offset);
}

.fakebody {
  position: relative;
  margin: var(--layout-margin);
  padding: var(--layout-padding);
}
.fakebody::before, .fakebody::after {
  position: absolute;
  font-family: "GloriaHallelujah";
  color: var(--clr-disabled);
  pointer-events: none;
  left: var(--layout_elements_offset);
}
.fakebody::before {
  content: "<body>";
  top: var(--layout_elements_offset);
}
.fakebody::after {
  content: "</body>";
  bottom: var(--layout_elements_offset);
}

nav {
  position: relative;
  margin: var(--layout-margin);
  padding: var(--layout-padding);
}
nav::before, nav::after {
  position: absolute;
  font-family: "GloriaHallelujah";
  color: var(--clr-disabled);
  pointer-events: none;
  left: var(--layout_elements_offset);
}
nav::before {
  content: "<nav>";
  top: var(--layout_elements_offset);
}
nav::after {
  content: "</nav>";
  bottom: var(--layout_elements_offset);
}

.hero {
  position: relative;
  margin: var(--layout-margin);
  padding: var(--layout-padding);
}
.hero::before, .hero::after {
  position: absolute;
  font-family: "GloriaHallelujah";
  color: var(--clr-disabled);
  pointer-events: none;
  left: var(--layout_elements_offset);
}
.hero::before {
  content: "<.hero>";
  top: var(--layout_elements_offset);
}
.hero::after {
  content: "</.hero>";
  bottom: var(--layout_elements_offset);
}

.skills {
  position: relative;
  margin: 3rem 1.5rem;
  padding: calc(var(--layout-padding) + 1rem);
}
.skills::before, .skills::after {
  position: absolute;
  font-family: "GloriaHallelujah";
  color: var(--clr-disabled);
  pointer-events: none;
  left: -2rem;
}
.skills::before {
  content: "<skills>";
  top: -2rem;
}
.skills::after {
  content: "</skills>";
  bottom: -2rem;
}

footer {
  position: relative;
  margin: calc(var(--layout-margin) + 1rem);
  padding: calc(var(--layout-padding) + 1rem);
}
footer::before, footer::after {
  position: absolute;
  font-family: "GloriaHallelujah";
  color: var(--clr-disabled);
  pointer-events: none;
  left: -2rem;
}
footer::before {
  content: "<footer>";
  top: -2rem;
}
footer::after {
  content: "</footer>";
  bottom: -2rem;
}

.projects {
  margin: auto -3rem;
  padding: 0;
}
.projects .projects_heading {
  font-size: clamp(1rem, 2.5vw, 2rem);
}
.projects h1 {
  text-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.75);
}

.projects_media_scroller {
  border: #000 solid 1px;
  --_spacer: 3rem;
  container-type: inline-size;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  grid-template-rows: auto auto minmax(1fr, 250px);
  padding: 0 var(--_spacer) var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.thumbs {
  display: grid;
  gap: 1rem;
}
.thumbs > a {
  color: var(--clr-font);
  text-decoration: none;
  padding: 1rem;
}
.thumbs > a img {
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  filter: grayscale(25%);
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
.thumbs > a:hover > img {
  z-index: 999999999;
  filter: grayscale(0%);
  transform: scale(1.05);
}

.workinprogress {
  position: relative;
}
.workinprogress::after {
  outline: 3px solid rgba(0, 0, 0, 0.137254902);
  transform-origin: center;
  content: "Work in Progress";
  position: absolute;
  z-index: 111;
  text-align: center;
  font-size: clamp(1.5rem, 2.5vw, 4rem);
  color: #000;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 50%;
  border: 5px gray solid;
  filter: drop-shadow(2px 2px 4px rgb(39, 39, 39));
  aspect-ratio: 1/1;
  transform: rotate(340deg);
  left: 15%;
  top: 15%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.workinprogress a > img {
  display: block;
  width: 100%;
  filter: grayscale(100%);
}
.workinprogress:hover > img {
  z-index: 999999999;
  filter: grayscale(25%);
  transform: scale(1);
}

.lightbox {
  z-index: 100;
  position: fixed;
  transform: translate(200%, -100%);
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  transition: transform 0.5s ease-in-out, opacity 1.5s ease-in-out;
  opacity: 0;
  justify-content: center;
  align-items: center;
}
.lightbox:target {
  transform: translate(0%, 0%);
  opacity: 1;
}
.lightbox .lightbox_close {
  z-index: 999999999;
  position: absolute;
  top: 0em;
  right: 6vw;
  color: #fff;
  transition: transform 50ms ease-in-out;
  transform: translate3d(0px, 0px, 0px);
}
.lightbox .lightbox_close:hover {
  transform: translate3d(5px, -5px, -20px);
}
.lightbox .lightbox_close:active:hover {
  transform: translate3d(0px, 0px, 0px);
}
.lightbox .lightbox_close img {
  width: 4em;
  filter: drop-shadow(2px 2px 4px hsl(0, 0%, 27%));
}
.lightbox .lightbox_wrapper {
  position: relative;
  background-image: url("./assets/images/seamless_paper_texture.png");
  border-radius: 1rem;
  box-shadow: var(--shadow-6);
  border: outset rgba(0, 0, 0, 0.75) 1px;
  overflow: hidden;
  height: calc(100% - 6rem);
  width: calc(90% - 6rem);
  margin: 3rem auto;
}
.lightbox .lightbox_wrapper:before {
  content: "";
  position: absolute;
  width: var(--layout-padding);
  min-height: 100%;
  background: radial-gradient(rgba(87, 84, 80, 0.479) 6px, transparent 6px) repeat-y;
  background-size: 3rem 3rem;
  border-right: 4px groove silver;
}
.lightbox .lightbox_wrapper .lightbox_content img {
  padding-left: var(--layout-padding);
  aspect-ratio: 16/9;
  min-width: 100%;
  max-width: 100%;
}
.lightbox .lightbox_wrapper .project_description {
  outline: 3px solid orangered;
  position: absolute;
  bottom: 2rem;
  margin-left: 6rem;
  padding-right: 1rem;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.4);
  filter: drop-shadow(0 0 0 3px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6));
  box-shadow: 0 0 10px 1px white, 0 5px 8px 3px rgba(0, 0, 0, 0.6);
}

.project_title {
  font-size: clamp(1.5rem, 3vw, 3.5rem);
}

.project_description {
  bottom: 0rem;
}

.skills {
  align-items: center;
  align-content: center;
  background: var(--background);
  background: url("./assets/images/seamless_paper_texture.png");
  background-color: var(--clr-mainBG);
  border-style: solid;
  border-width: var(--border-width);
  -o-border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
     border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
  box-shadow: var(--shadow-4);
  border-radius: 10px;
}

.skills_heading_wrapper {
  height: 10rem;
  margin-block-end: var(--layout-padding);
}
.skills_heading_wrapper h2 {
  font-size: var(--font-size-fluid-3);
}

.skills_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  height: -moz-max-content;
  height: max-content;
}

.skill-category {
  list-style-type: circle;
}
.skill-category h2 {
  font-size: var(--font-size-fluid-2);
  padding-bottom: 1rem;
}
.skill-category ul {
  list-style-type: circle;
  margin-bottom: 1rem;
  padding-inline: 1.5rem;
}
.skill-category ul li {
  font-family: "Short Stack";
  font-size: var(--font-size-fluid-1);
  list-style-type: circle;
}

.contact_him {
  height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: clamp(10px, 2vw, 20px);
  padding: clamp(10px, 2vw, 20px);
  background: var(--background);
  background: url("./assets/images/seamless_paper_texture.png");
  background-color: var(--clr-mainBG);
  filter: brightness(1.05);
  border-style: solid;
  border-width: var(--border-width);
  -o-border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
     border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
  box-shadow: var(--shadow-4);
  border-radius: 10px;
}

.footer_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: clamp(10px, 2vw, 20px);
}

.footer_message,
.footer_links,
.footer_form,
.copyright {
  width: 100%;
}

.footer_message {
  align-items: center;
  text-align: center;
  width: 25vw;
}
.footer_message img {
  margin: 0 auto;
  /* Center the image */
  align-items: center;
  text-align: center;
}
.footer_message p {
  display: inline;
}
.footer_message p + span {
  visibility: hidden;
}

.footer_links {
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: clamp(5px, 1vw, 10px);
  /* Adjust the gap between links if needed */
}

.footer_links a img {
  height: clamp(50px, 5vw, 63px);
  width: clamp(50px, 5vw, 63px);
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
}

.message_form {
  display: flex;
  flex-direction: column;
}

.footer_form {
  width: 25vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.footer_form h2 {
  margin: 1rem;
}

.form-group {
  gap: 1rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
}
.form-group .form-control {
  background: var(--background);
  background: url("./assets/images/seamless_paper_texture.png");
  background-color: var(--clr-mainBG);
  border-style: solid;
  border-width: var(--border-width);
  -o-border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
     border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
  box-shadow: var(--shadow-4);
  border-radius: 10px;
}

.submit-button {
  color: black;
  background: var(--background);
  background: url("./assets/images/seamless_paper_texture.png");
  background-color: var(--clr-mainBG);
  border-style: solid;
  border-width: var(--border-width);
  -o-border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
     border-image: url("./assets/images/button.svg") 10 10 10 10 stretch stretch;
  box-shadow: var(--shadow-4);
  border-radius: 10px;
}

.copyright {
  width: 100vw;
}

.copyright p {
  text-align: center;
  width: 100%;
  margin: 0;
}/*# sourceMappingURL=main.css.map */