// _main_layout.scss
@use '../base/variables';


//Element Visualization
@mixin pseudo-content($element,
                      $indent: var(--psuedo-indent),
                      $offset: var(--psuedo-offset),
                      $margin: var(--layout-margin),
                      $padding: var(--layout-padding)
                      )
  {
  position: relative;
  margin-block: $margin;
  padding: $padding;
  &::before, &::after {
    position: absolute;
    font-family: "GloriaHallelujah";
    color: var(--clr-disabled);
    pointer-events: none;
    left: calc(#{$indent} * 2rem);
    // left:0;
  }

  &::before {
    content: "<#{$element}>";
    top: $offset;
    
  }

  &::after {
    content: "</#{$element}>";
    bottom: $offset;
    
  }
}
html,body {
  background-color: var(--clr-shade);
  background: variables.$image-background-texture;
  color: var(--clr-font);
  user-select: none;
}
.fakehtml {
  @include pseudo-content("html");  
}

.fakebody {
  @include pseudo-content("body");
}

nav {
  @include pseudo-content("nav",
  1,// Indent value
  .5rem, // Offset value
  1rem,// Margin value
  3rem// Padding value
  )
}
.hero {
  // outline: solid 1px orangered;
  @include pseudo-content("hero",
  1,// Indent value
  0rem, // Offset value
  2rem,// Margin value
  2rem// Padding value
  );
}



.skills {
  @include pseudo-content("skills",
  1.5,
  3rem 1.5rem,
  calc(var(--layout-padding) + 1rem));
}
footer {
  @include pseudo-content("footer",
  -2rem,
  calc(var(--layout-margin) + 1rem),
  calc(var(--layout-padding) + 1rem));
}



// /* General styling for pseudo-elements */
// html::before,
// html::after,
// body::before,
// body::after,
// nav::before,
// nav::after,
// .hero::before,
// .hero::after,
// footer::before,
// footer::after,
// section::before,
// section::after {
//   position: absolute;
//   font-family: "GloriaHallelujah";
//   color: var(--clr-disabled);
//   pointer-events: none;
//   left: var(--layout_elements_offset);
// }


// html::before,
// body::before,
// nav::before,
// .hero::before,
// footer::before,
// section::before
//  {
//   top: var(--layout_elements_offset);
// }

// html::after,
// body::after,
// nav::after,
// .hero::after,
// footer::after,
// section::after
//  {
//   bottom: var(--layout_elements_offset);
// }

// html::before {
//   content: "<html>";
// }

// html::after {
//   content: "</html>";

// }

// body::before {
//   content: "<body>";
// }

// body::after {
//   content: "</body>";

// }

// nav::before {content: "<nav>";}
// nav::after {content: "</nav>";}

// .hero::before {content: "<hero>";}
// .hero::after {content: "</hero>";}

// section::before {content: "<section>";}
// section::after {content: "</section>";}

// footer::before {content: "<footer>";}
// footer::after {content: "</footer>";}
