@use "../base/_variables";
@use "../components/stickynote_effect";


.projects {
    margin: 0 auto; /* Center the section */
    width: 80vw;    /* Consume 80% of viewport width */
    margin-inline: auto;
    padding: var(--layout-padding);

    align-items: center;
    align-content: center;
    background: var(--background);
    background: variables.$image-background-texture;
    background-color: var(--clr-mainBG);
	filter: brightness(1.05);
    border-style: solid;
    border-width: var(--border-width);
    border-image: variables.$image-border-button;
	--shadow:var( --shadow-4,
	0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)));
	box-shadow: var(--shadow);

  .projects_heading_wrapper{
    margin-block-end: var(--layout-padding);
  }
  h1{
    text-shadow: 1px 1px 5px hsla(0, 0%, 0%, 0.75);
  }
  
}


.skills-container {
    /* Optionally, you can center the skills container within the section */
    margin: 0 auto;
    // max-width: 600px; /* Adjust the max-width as needed */
}



.portfolio-scroller {
    // background-color: red;
    // --_spacer: var(--size-3);
    // display: grid;
    // gap: var(--_spacer);
    // grid-auto-flow: column;
    // grid-auto-columns: 90%;
    // padding: 0 var(--_spacer) var(--_spacer);
    // overflow-x: auto;
    // overscroll-behavior-inline: contain;
  }



.projects_media_scroller{
  --_spacer: 3rem;
  container-type: inline-size;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 40%;
  grid-template-rows: auto auto minmax(1fr, 250px);
  padding: 0 var(--_spacer) var(--_spacer);
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  // height: 500px;
}



.media-element {
 
  margin-top: var(--_spacer);
  display: grid;
  grid-template-rows: subgrid;
  // 
  grid-row: span 3;
  // grid-template-columns: ;
  // grid-template-rows: min-content;
  gap: var(--_spacer);
  // padding: var(--_spacer);
  background-color: var(--clr-mainBG);
  background: var(--background);
  background: variables.$image-background-texture;
  border-radius: 1rem;
  border-style: solid;
  border-width: var(--border-width);
  border-image: variables.$image-border-button;
--shadow:var( --shadow-4,
0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)));
box-shadow: var(--shadow);
}

.media-element > img {
  // display: none;
  &:hover{
    // border: 3px green groove;
    scale:1.5;
    transition: 250ms;
    z-index: 100;
  }
  
  width: 250px;
  height: 250px;
  inline-size: 100%;
  aspect-ratio: 16 / 9;
  object-fit:scale-down;

 
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.project_title{
  // background-color: red;
  max-width: 12ch;
  max-height: 3rem;
}

.project_description{
  text-overflow: ellipsis;
  max-width: 100%; /* You can adjust this value based on your design */
}


.projects_media_scroller{

}