@use "../base/_variables";
@use "../components/stickynote_effect";

// USE?
// <figure>
//   <img src="https://assets.codepen.io/1506195/portrait-woman-unsplash.jpg" />
//   <figcaption>Test</figcaption>
// </figure>

// <figure>
//   <img src="https://assets.codepen.io/1506195/portrait-woman-unsplash.jpg" />
//   <figcaption>Test</figcaption>
// </figure>

// <figure>
//   <img src="https://assets.codepen.io/1506195/portrait-woman-unsplash.jpg" />
//   <figcaption>Test</figcaption>
// </figure>
.skills {
    // width: 80vw;
    // padding: var(--layout-padding);
    // margin-inline: auto;
    // margin-block: var(--layout-padding);
    // text-align: center;
    align-items: center;
    align-content: center;

    background: var(--background);
    background: variables.$image-background-texture;
    background-color: var(--clr-mainBG);
	// filter: brightness(1.05);
    border-style: solid;
    border-width: var(--border-width)                           ;
    border-image: variables.$image-border-button;
	--shadow:var( --shadow-4,
	0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)));
	box-shadow: var(--shadow);
    border-radius: 10px;
	
}
.skills_heading_wrapper{
    height: 10rem;
    margin-block-end: var(--layout-padding);
    h2{
        font-size: var(--font-size-fluid-3);
    }
}
.skills_container{

    display: flex;
    flex-wrap: wrap;
    margin-block-end: var(--layout-padding);
}

.skill-category {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    height: 500px;
    list-style-type: circle;
    min-width: 500px;
    h2{
        font-size: var(--font-size-fluid-2);
        padding-bottom: 1rem;
    }
    ul{  
        list-style-type: circle;
        margin-bottom: 1rem;
        padding-inline: 1.5rem;
        li{
            font-family: "Short Stack";
            font-size: var(--font-size-fluid-1);
            list-style-type: circle;
        }
    }
    // --c: 50px;
    // --p: 30px;
    // --d: 10px;
    // display: inline-block;
    // padding: var(--p);
    // This background (radial-gradient) is for the FAKE box-shadow)
    // background:
    // radial-gradient(farthest-side at 0 0, #000, #0000) 0 0 / var(--c) var(--c),
    // radial-gradient(farthest-side at 100% 100%, #000, #0000) 100% 100% / var(--c) var(--c),
    // linear-gradient(#ffffffec 0 0) 50% 50% / calc(100% - var(--p)) calc(100% - var(--p)),
    // linear-gradient(#0000, #000 25% 75%, #0000) 50% 50% / calc(100% - var(--p)) calc(100% - var(--d)),
    // linear-gradient(90deg, #0000, #000 25% 75%, #0000) 50% 50% / calc(100% - var(--d)) calc(100% - var(--p)),
    // radial-gradient(farthest-side at 0 100%, #00000018, #0000) calc(100% - var(--d) * 0.5) calc(var(--d) * 0.5) / var(--d) var(--d),
    // radial-gradient(farthest-side at 100% 0, #00000018, #0000) calc(var(--d) * 0.5) calc(100% - var(--d) * 0.5) / var(--d) var(--d)
    // ;
    // filter: brightness(0.99);
    // background-repeat: no-repeat;
    // background-image: variables.$image-background-texture;
    // clip-path: polygon(0 var(--c), var(--c) 0, 100% 0, 100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 0 100%);
  }
  

  