// _navbar.scss
@use "../base/_variables" as *;

// https://codepen.io/jo_Geek/pen/xgbaEr

nav {
	--shadow-color: 360, 100%, 50%;
	--shadow-strength: 10%;
	--shadow:var( --shadow-5,
	0 -1px 2px 0 hsl(var(--shadow-color) / calc(var(--shadow-strength) + 2%)),
	0 2px 1px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	0 5px 5px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 3%)),
	0 10px 10px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 4%)),
	0 20px 20px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 5%)),
	0 40px 40px -2px hsl(var(--shadow-color) / calc(var(--shadow-strength) + 7%)));
	box-shadow: var(--shadow);
	margin-top: 1.5rem;
	margin-inline: var(--layout-padding);
	// background: var(--clr-mainBG);
	// background: $image-background-texture;
	margin: var(--layout-padding) var(--layout-padding); // This will center the nav horizontally
	background-color: var(--clr-mainBG);
	background: $image-background-texture;


	border-style: groove;
	border-color: var(--clr-border);
	border-radius: 1rem;
	border-width: var(--border-width);
	border-image: $image-border-button;
	background-blend-mode:multiply;
	background-repeat:  repeat;
	// position: sticky;
	// background-color: red;
	min-width: calc(100% - var(--layout-padding)*2);
	max-width: 100vw;
	max-width: 100dvw;

}
  
.navbar{
	// background-color: ;
	// width: 100%;
	display: flex;
	// grid-template-columns: auto 1fr;
	// grid-template-rows: auto;
	// grid-template-areas:
	// 'navLabel navItems';

}
.navbar > :last-child {
 	margin-inline-start: auto; //position the LINKS(lastchild) to right
}
.logo-label{
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-label {
// grid-column: navLabel;
// grid-area: navLabel;
// display: inline-block;
// align-items: center;
// min-width:max-content;
  img {
    height: 4rem;
    margin-inline: 2rem; 
  }
}


  .nav_links {

	// grid-column: navItems;
	// grid-area: navItems;
	display: flex;
	gap: .5rem;
	// justify-content: flex-end;  
}
	.nav_links li{
		// background-color: transparent;
		text-align: center;
		min-width: 10vw;
		max-width: 9rem;
		margin-block: 1rem;
		padding-block: 1rem;
		// background: var(--background);
		background: $image-background-texture;
		// background-color: var(--clr-mainBG);
		// position: relative;
		border-style: groove;
		border-radius: 1rem;
		border-width: var(--border-width);
		border-image: $image-border-button;
		// background-blend-mode:multiply;
		// background-repeat:  repeat;
	}
  .nav_links li  a{
	color: var(--clr-link);
	// margin-left: 15px; /* Adjust as needed */
	// 
  }
  .nav-toggle{
	display: none;
  }
  #n	av-toggle:checked + .navbar .nav_links,
    #nav-toggle:hover + .navbar .nav_links,
    #nav-toggle:focus + .navbar .nav_links {
      display: block;
    }


@media screen and (max-width: 768px) {

.logo-label{
	justify-content:left;
	
}
  .nav_links{
	z-index: 99999999999999999;
	opacity: 0;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	display: none;
	    transition: opacity 0.5s ease, visibility 0.5s ease, height 0.5s ease;
}
 
 #nav-toggle:checked + .nav_links {

	display: flex;
  	height: auto;
  	opacity: 1;
  	visibility: visible;
  } 


.navbar {
	position:sticky;
  	display: flex;
 	flex-direction: column;
//   grid-template-columns: auto; 
//   grid-template-rows: auto; 
//   grid-template-areas:
//     "navLabel"
//     "navItems"; 
}
	  .nav_links {
		// height: 0;
  		// opacity: 0;


		flex-direction: column;
		// align-items: flex-end;
		// position: absolute;
		// top: 60px; /* Adjust as needed */
		// right: 0;
		// background-color: white; /* Adjust the background color as needed */
		padding: 0px;
		margin: 0px;
		max-width: 100%;
		min-width: 100%;
		// background-color: yellow;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust the box shadow as needed */
		 li{
			
			min-width: 100%;
			max-width: 100%;
			// padding: 0px;
			margin: 0px;
		 }
	  }

}

