@use "../base/_variables"as variables;

nav {
  // outline: 1px solid orangered;
  max-width: 100vw;
  max-width: 100dvw;
}

.navbar {
 
  // z-index: 10000;
  background-color: var(--clr-paperBG);
  filter:
    var(--shadow-layer1) var(--shadow-layer2) var(--shadow-layer3);
  background: variables.$image-background-crumpled-paper;
  border-style: solid;
  border-color: var(--clr-border);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-image: variables.$image-border-button;
  background-repeat: repeat;
  display: flex;
}

.navbar > :last-child {
  margin-inline-start: auto; // position the LINKS(lastchild) to right
}

.logo-label {
  min-width: 150px;
  display: flex;
  // gap: 0.5rem;
  margin-block-end: 5px;
  justify-content: center;
  align-items: center;
  background-color: hsla(30, 100%, 96%, 1);
  background-color: var(--clr-background);  
  border-style: solid;
  border-color: var(--clr-border);
  border-radius: var(--border-radius);
  border-width: var(--border-width);
  border-image: variables.$image-border-button;
  // box-shadow: 2px 5px 5px #877;
  
  filter: drop-shadow(2px 2px 2px hsla(0, 0%, 0%, 1))
}

.nav-label {
  
  img {
    height: clamp(3rem, 4vw, 4rem);
    margin-inline: clamp(0.5rem, 1vw, 2rem);
  }
  h2{
    margin-inline: clamp(0.5rem, 1vw, 2rem);
  }
}

.nav_links {
  display: flex;
  // gap: clamp(1rem, 2vw, 2rem);
}

.nav_button {
  // color:red;
  position: relative;
  display: inline-block;
  // width: 20vw;
  // min-width: 100px;
  width: auto;
  min-width: 50px;


  // max-width:100px;
  padding: .75rem;
  margin: .25rem;
  color: var(--clr-link);
  align-self: center;
  transition: all 235ms ease 0s;
  background-color: transparent;
  background-image: none;  
  cursor: pointer;
  background: none;
  border: 0px none transparent;
	outline:none;
  // overflow: hidden;

  &:hover{
    animation: shake 1s;
    animation-iteration-count: infinite;
  }
  &:active{
     top: .2rem;
  }
    @keyframes shake {
           0% { transform: rotate(0deg); }
            25% { transform: rotate(1deg); }
            50% { transform: rotate(-1deg); }
            75% { transform: rotate(1deg); }
            100% { transform: rotate(0deg); }
        }
  &::after{
  content: '';
  z-index: -122;
  background-color: hsla(30, 100%, 96%, 1);
  background-color: var(--clr-background);  
  // background-image: variables.$image-background-crumpled-paper;
  border-color: hsla(40, 2%, 25%,1);
  border-color: var(--primary);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 3px;
  pointer-events: none; 
  filter: drop-shadow(3px 3px 2px hsla(0, 0%, 0%, 0.6))
  }
}

  @for $i from 1 through 4 {
    .nav_button:nth-child(#{$i}) {
      transition-delay: (5 - $i) * 50ms;
    }
  }
.nav_button:nth-child(1)::after {
  border-radius: 1% 5% 11% 56% / 25% 2% 11% 1%;
  transform: rotate(0.5deg);
}

.nav_button:nth-child(2)::after {
  border-radius: 75% 50% 4% 70% / 6% 4% 7% 5%;
  transform: rotate(0.25deg);
}

.nav_button:nth-child(3)::after {
  border-radius: 132% 117% 5% 130% / 7% 8% 115% 6%;
  transform: rotate(-0.5deg);
}

.nav_button:nth-child(4)::after {
  border-radius: 68% 40% 6% 75% / 7% 6% 60% 6%;
  transform: rotate(-0.25deg);
}



.nav-toggle {
  display: none;
}

#nav-toggle:checked+.navbar .nav_links,
#nav-toggle:hover+.navbar .nav_links,
#nav-toggle:focus+.navbar .nav_links {
  display: block;
}




@media screen and (max-width: 768px) {
  nav{
  // max-width: 100vw;
  // max-width: 100dvw;
  }
  .logo-label {
    justify-content: left;
  }
  .nav-label{
    cursor: pointer;
  }
  .nav_links {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 100%;
    width: 100%;
    max-width: 100%;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition-property: height, opacity;
    transition-duration: 500ms;
    transition-behavior: allow-discrete;
  }

  .nav_button {
    position: relative;
    translate: -100% 0;
    opacity: 0;
    width: 100%;
    transition-property: opacity, translate;
    transition-duration: 500ms;
    transition-behavior: allow-discrete;
    transition-timing-function: cubic-bezier(.47,1.64,.41,.8);

    
  }

  #nav-toggle:checked~.nav_links {
    height:max-content;
    opacity: 1;
  }

  #nav-toggle:checked~.nav_links .nav_button {
    translate: 0 0;
    opacity: 1;
    @starting-style {
      opacity: 0;
      translate: 200% 0;
    }
  }



  .navbar {
    display: flex;
    flex-direction: column;
  }
}
