@use "../base/_variables";

// https://codepen.io/jo_Geek/pen/xgbaEr



header {
	// background-color: red;
	background: var(--background);
	background: variables.$img-background-texture;
	background-color: var(--clr-mainBG);
	// position: relative;
	border-style: solid;
	border-width: var(--border-width);
	border-image: variables.$image-border-button;
	background-blend-mode:multiply;
	background-repeat:  repeat;
	position: fixed;
	z-index: 999;
	text-align: center;
	position: fixed;
	z-index: 999;
	width: calc(100% - 20px);
	margin:10px;
  }
  
  /* changed this from the tutorial video to
	 allow it to gain focus, making it tabbable */
  .nav-toggle {
	// position: absolute !important;
	// top: -9999px !important;
	// left: -9999px !important;
  }
  
  .nav-toggle:focus ~ .nav-toggle-label {
	// outline: 3px solid rgba(lightblue, .75);
  }
  
  .nav-toggle-label {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 1em;
	height: 100%;
	display: flex;
	align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
	display: block;
	background: white;
	height: 2px;
	width: 2em;
	border-radius: 2px;
	position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
	content: '';
	position: absolute;
  }
  
  .nav-toggle-label span::before {
	bottom: 7px;
  }
  
  .nav-toggle-label span::after {
	top: 7px;
  }
  
  nav {
	position: absolute;
	text-align: left;
	top: 100%;
	left: 0;
	background: var(--background);
	width: 100%;
	transform: scale(1, 0);
	transform-origin: top;
	transition: transform 400ms ease-in-out;
  }
  
  nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
  }
  
  nav li {
	margin-bottom: 1em;
	margin-left: 1em;
	transition: transform 150ms ease-in-out;
  }
  nav li:hover {
	transform: translateY(2px);
  }
  
  nav a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
	text-transform: uppercase;
	opacity: 0;
	transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
	// color: #000;
	
  }
  
  .nav-toggle:checked ~ nav {
	transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
	opacity: 1;
	transition: opacity 250ms ease-in-out 250ms;
  }
  
  @media screen and (min-width: 800px) {
	.nav-toggle-label {
	//   display: none;
	}
  
	header {
	  
	}
	
	.logo {

	}
	
	nav {
	  // all: unset; /* this causes issues with Edge, since it's unsupported */
	  
	  /* the following lines are not from my video, but add Edge support */
	  position: relative;
	  text-align: left;
	  transition: none;
	  transform: scale(1,1);
	  background: none;
	  top: initial;
	  left: initial;
	  /* end Edge support stuff */
	}
	
	nav ul {
	  display: flex;
	}
	
	nav li {
	  margin-left: 3em;
	  margin-bottom: 0;
	  border-style: solid;
	  border-width: var(--border-width);
	  border-image: variables.$image-border-button;
	}
	
	nav a {
	  opacity: 1;
	  position: relative;
	}

  }
  
  









.navbar {
	display:grid;
	grid-template-columns: 1fr auto;
	// -ms-flex-item-align:end;
	align-items:center ;
	// align-content: space-between;
	min-height: 4rem;
	width: 100%;
	background: variables.$img-background-texture;
	background-color: var(--clr-mainBG);
	// position: relative;
	border-style: solid;
	border-width: var(--border-width);
	border-image: variables.$image-border-button;
	background-blend-mode:multiply;
	background-repeat:  repeat;
	position: fixed;
	z-index: 999;
  }
  
   .nav-header {
	width:max-content;
	align-items: center;
	display:flex;
	// background-color:  green;
  }
  
  .nav-Logo{
	height: 2.5rem;
	aspect-ratio: 1;
}
  .nav-title {
	// display: inline;
	font-size: var(--fs-200);
	color: var(--clr-font);
	padding: 10px;
  }

  .nav-links {
	// background-color:  red;
	display: flex;
	gap:.2em;
	flex-wrap: wrap;
	// float: right;
	font-size: var(--fs-600); 
  }
  
  .nav-links > a {
	// display: inline-block;
	// padding: 13px 10px 13px 10px;
	text-decoration: none;
	// color: #efefef;
	
	// background-color: var(--clr-mainBG);
	
	background: variables.$img-background-texture;
	position: relative;
	border-style: solid;
	border-width: var(--border-width);
	border-image: variables.$image-border-button
  }
  
  .navbar > .nav-links > a:hover {
	// background-color: rgba(0, 0, 0, 0.3);
  }
  
  #nav-check {
	// display: none;
  }
  
//   @media (max-width:568px) {
// 	.navbar > .nav-btn {
// 		background-color: red;
// 	  display: inline-block;
// 	  position: absolute;
// 	  right: 0px;
// 	  top: 0px;
// 	}
// 	.navbar > .nav-btn > label {
// 	  display: inline-block;
// 	  width: 50px; 
// 	  height: 50px;
// 	  padding: 13px;
// 	}
// 	.navbar > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
// 	  background-color: rgba(0, 0, 0, 0.3);
// 	}
// 	.nav-btn > label > span {
// 	//   display: block;
// 	  width: 25px;
// 	  height: 10px;
// 	//   border-top: 2px solid #eee;
// 	}
// 	.nav-links {
// 	  position: absolute;
// 	  display: block;
// 	//   width: 100%;
// 	//   background-color: #333;
// 	  height: 0px;
// 	  transition: all 0.3s ease-in;
// 	  overflow-y: hidden;
// 	  top: 50px;
// 	  left: 0px;
// 	}	
// 	.nav-links > a {
// 	  display: block;
// 	//   width: 100%;
// 	}
// 	.navbar > #nav-check:not(:checked) ~ .nav-links {
// 	  height: 0px;
// 	}
// 	.navbar > #nav-check:checked ~ .nav-links {
// 	  height: calc(100vh - 50px);
// 	  overflow-y: auto;
// 	}
//   }


// #landing,
// #abouthim,
// #portfolio,
// #footer {
// 	scroll-snap-align: start;
// 	scroll-snap-stop: normal;
// 	scroll-margin-top: 10px;
// }
// .navbar-nav li {
// 	transition: 0.3s;
// 	-webkit-transition: 0.3s;
// 	-moz-transition: 0.3s;
// 	-ms-transition: 0.3s;
// 	-o-transition: 0.3s;

// 		&:hover {
// 		transform: translateY(2px);
// 		-webkit-transform: translateY(2px);
// 		-moz-transform: translateY(2px);
// 		-ms-transform: translateY(2px);
// 		-o-transform: translateY(2px);
// 		}
// }

// .navbar-nav a.active {
// 	color: black;
// 	font-weight: $bold-weight;
// 	text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.3),
// 		1px 1px 0px rgba(0, 0, 0, 0.8);
// 	background-color: unset;
// 	// color: red !important;
// 	// background-color: yellow !important;
// }
// // // .nav-pills:active {
// // // 	background-color: red !important;
// // // }
// #main-navbar {
// 	background-image: url("#{$assetPath}seamless_paper_texture.png");
// 	border-radius: 5px;
// 	-webkit-border-radius: 5px;
// 	-moz-border-radius: 5px;
// 	-ms-border-radius: 5px;
// 	-o-border-radius: 5px;
// 	// Embossed effect
// 	-webkit-box-shadow: $box-shadow;
// 	-moz-box-shadow: $box-shadow;
// 	box-shadow: $box-shadow;
// }
